<div class="mt-4">
    <h1>Đăng nhạc</h1>

    <form method="POST" action="./nhac/store">
        <div class="mb-3">
            <label for="name" class="form-label" >Tên bài hát</label>
            <input type="text" class="form-control" name="name" id="name" >
        </div>
          <div class="mb-3">
            <label for="descr class="form-label"iption" >Mô tả</label>
            <input type="text" class="form-control" name="description" id="description" >
        </div>
          <div class="mb-3">
            <label for="video class="form-label"Id" >VideoId</label>
            <input type="text" class="form-control" name="videoId" id="videoId" >
        </div>
          <div class="mb-3">
            <label for="level class="form-label"" >Trình Độ</label>
            <input type="text" class="form-control" name="level" id="level" >
        </div>

        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Đăng bản nhạc</button>
        </div>
    </form>
    

</div>