@import "variables";

.test {
    font-size: 1;
    font-style: italic;
}

h1 {
    color: $red-color;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    color: blue;
}
.card-courses{
    margin-top: 16px;
}
.ml-auto{
    margin-left: auto;
}
.user-avatar{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 4px;
}
img.stored-img{
    width: 94px;
    height: 60px;
}