
<div class="form-find">
    <form method="POSt" action="">
        <div class="form-group">
            <label for="exampleInputEmail1">Tìm Kiếm</label>
            <input type="text" class="form-control" name="q"  placeholder="tìm kiếm">
        </div>
    
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>